<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body class="container">
        <div class="album py-4 bg-light">
            <div class="container">
                <div class="row">
                    {{range .videos}}
                    <div class="col-md-4">
                        <div class="card mb-4 show-sm">
                            <div class="card-body">
                                <iframe width="300" height="200"
                                src="{{.URL}}"
                                frameborder="0" allow="accelerometer; autoplay;
                                encrypted-media: gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <p class="card-text">
                                    <h4>{{.Title}}</h4>
                                    <P>{{.Description}}</P>
                                </p>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </body>
</html>